body{
  font-family: CabinSketch-Regularimport;
  overflow: scroll;

}

.pdfobject-container
{
  height: 1300px;
  overflow-y: hidden;
}

.pdfobject
{
  height: 1300px;
  border: 1px solid #666;
}

#sizer{
  overflow-y: hidden;
}
